/* .wrapper {
  position: relative;
  background: linear-gradient(
    to right,
    rgb(0, 255, 157) 10%,
    #ffce00 10%,
    #fe4880
  );
} */

/* .wrapper {
  height: 93vh;
  background: linear-gradient(to right, #ffce00 10%, #ffce00 10%, #fe4880);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.wrapper {
  height: 93vh;
  background: linear-gradient(to right, #e9e6e6, #e9e6e6 10%, #685df8 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row-title {
  text-align: right;
  color: rgb(68, 67, 67);
}
img {
  height: 200px !important;
}
.row {
  margin-top: 40px !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-size: fill;
}

.loading {
  display: grid;
  grid-template-columns: 1fr;
}

.container2 {
  position: absolute;
  margin-top: 40px !important;
  margin-left: 40px;
  height: 90vh;
}

/* .container2 {
  margin-top: 40px !important;
  display: grid;
  grid-template-columns: 1fr;
  background-size: fill;
} */
